PORT=5000
MONGODB_URI=mongodb+srv://immilankumar01_db_user:nmZtEGwc7I32w8fY@sgsebilling.xbsncbc.mongodb.net/sgsebilling
JWT_SECRET=sgse-super-secret-key
CLOUDINARY_CLOUD_NAME=deyi4oumy
CLOUDINARY_API_KEY=251848234652341
CLOUDINARY_API_SECRET=iFF0ZrIMGc6-ym-Mi9cJEfg1DTU
NODE_ENV=development
